.banner{
  background: url("../img/bg.jpg");
  background-size: cover;
  position: relative;
  width: 1600px;
  height: 1066px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .6);
}

.banner::after{
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 54, 109, .4);
}

.banner h1{
  z-index: 1;
}

.banner .sekolah h2:before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160%;
  height: 5px;
  background-color: #fbfbfa;
}

.banner h1 a{
  color: #fbfbfa;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
}

.banner .sekolah{
  z-index: 1;
}

.banner .sekolah h2{
  margin-top: 3px;
  color: #fbfbfa;
  font-size: 1.5rem;
  position: relative;
}

.margin{
  margin-top: 15px;
}

.pengertian{
  padding: 15px;
}

.pengertian .penjelasan{
  color: #fbfbfa;
  font-size: 12px;
  margin-top: 15px;
}

.keunggulan{
  padding: 15px;
}

.poin-poin{
  margin-top: 15px;
  color: #fbfbfa;
  font-size: 12px;
  margin-left: 30px;
}

.materi{
  padding: 15px;
}

.pekerjaan{
  padding: 15px;
}

.murid{
  padding: 15px;
}

.tabel{
  margin-top: 15px;
  color: #fbfbfa;
  font-size: 12px;
}

table{
  border-collapse: collapse;
  width: 50%;
}

th{
  background-color: #1c366d;
}

table, tr, th, td{
  border: 1px solid #1c366d;
  padding: 5px;
}

tr .nomor{
  width: 30px;
}

@media screen and (max-width: 768px){
  .banner{
    width: 360px;
    height: 250px;
  } 
  
  .banner .sekolah h2:before{
    left: 50%;
    transform: translate(-50%, -50%);
    width: 146%;
    height: 3px;
  }
  
  .banner h1{
    padding-top: 3rem;
  }
  
  .banner h1 a{
    font-size: 18px;
  }
  
  .banner .sekolah h2{
    font-size: 15px;
  }
  
  .pengertian .penjelasan{
    margin-top: 10px;
  }
  
  .poin-poin{
    margin-left: 15px;
    margin-top: 10px;
  }
  
  table{
    width: 100%;
    font-size: 12px;
  }
}
